@import './reset.css';
@import './variables.css';

/*  */

body {
  min-width: 375px;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--dark);
  background-color: #fff;
  overflow-x: hidden;
}

/*  */

.container {
  max-width: 1400px;
  box-sizing: content-box;
  padding: 0 30px;
  margin: 0 auto;

  /* media */
  @media (max-width: 576px) {
    padding: 0 15px;
  }
}

/*  */

a {
  text-decoration: none;
  color: inherit;
}

/*  */

.h2 {
  font-weight: 700;
  font-size: 42px;
  color: var(--black);

  /* media */
  @media (max-width: 576px) {
    font-size: 28px;
  }
}
