@import './reset.css';
@import './variables.css';

/*  */

body {
  min-width: 375px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
  background-color: var(--white-color);
  overflow-x: hidden;

  /* .open */
  &.open {
    overflow: hidden;
  }
}

/*  */

.container {
  max-width: 1400px;
  box-sizing: content-box;
  padding: 0 30px;
  margin: 0 auto;

  /* media */
  @media (max-width: 576px) {
    padding: 0 15px;
  }
}

/*  */

a {
  color: inherit;
  text-decoration: none;
}
